@media screen and (max-width: 768px) {
  p {
    hyphens: none;
    font-size: 10px;
  }

  footer {
    font-size: 10px;
  }

  main {
    width: 600px;
    margin: 40px auto;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid black;
    width: 90%;
    border-radius: 200px 12px 200px 15px/15px 200px 15px 200px;
    line-height: 1em;
  }

  body {
    font-size: 15px;
    width: 600px;
    margin: 30 auto;
    height: auto;
  }

  ul {
    line-height: 1.8;
  }

  iframe {
    width: 100%;
  }

  h1 {
    line-height: 1.8;
  }

  h2 {
    line-height: 0.9;
  }
}
